@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {

  padding: 5vw;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
